@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #001e4d;
}
.app{
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    height: 500px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 10px;
}
.app .header h4{
    color: #1a237e ;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #0d47a1;
    border-radius: 10px;
    margin:auto;
    margin-bottom: 30px;
    width: 75%;
    text-align: center;
    font-weight: 900;
}

.container .soru{
    height: 50px;
    overflow: auto;
    
     
}
.container .soru span{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    font-weight: 900;
    font-size:17px;
    color: black ;
       
}
.row .col{
    height: 40px;
    border: 3px solid #bdbdbd ;
    border-radius: 5px;
    box-shadow: none;  /*yatay dikey blur yaygınlık renk*/
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: 1px;
    color: black;
    font-weight: 900;
    margin: 7px;
}
.row .col:hover{
    transform: scale(1.01);
}
.app .container button{
    border: 1px solid #1a237e;
    
    font-weight: 500;
    letter-spacing: 2px;
}